In [1]:
#pip install citipy

## Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt
import json
import requests
import time
import urllib
#from api_keys import weather_api_key
#from citipy import citipy
import matplotlib.pyplot as plt

### Store CSV into DataFrame

In [2]:
# Import citibike CSV file and Read it (Jan-Jun, 2019)


citibike1901_csv = pd.read_csv('201901-citibike-tripdata.csv')
citibike1902_csv = pd.read_csv('201902-citibike-tripdata.csv')
citibike1903_csv = pd.read_csv('201903-citibike-tripdata.csv')
citibike1904_csv = pd.read_csv('201904-citibike-tripdata.csv')
citibike1905_csv = pd.read_csv('201905-citibike-tripdata.csv')
citibike1906_csv = pd.read_csv('201906-citibike-tripdata.csv')
citibike1907_csv = pd.read_csv('201907-citibike-tripdata.csv')
citibike1908_csv = pd.read_csv('201908-citibike-tripdata.csv')
citibike1909_csv = pd.read_csv('201909-citibike-tripdata.csv')
citibike1910_csv = pd.read_csv('201910-citibike-tripdata.csv')
citibike1911_csv = pd.read_csv('201911-citibike-tripdata.csv')
citibike1912_csv = pd.read_csv('201912-citibike-tripdata.csv')

combined_df = pd.concat([citibike1901_csv, citibike1902_csv, citibike1903_csv,citibike1904_csv, citibike1905_csv, 
                         citibike1906_csv, citibike1907_csv, citibike1908_csv, citibike1909_csv, citibike1910_csv, 
                         citibike1911_csv, citibike1912_csv])

combined_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,1/1/19 12:01 AM,1/1/19 12:07 AM,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,male
1,316,1/1/19 12:04 AM,1/1/19 12:10 AM,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,male
2,591,1/1/19 12:06 AM,1/1/19 12:15 AM,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,male
3,2719,1/1/19 12:07 AM,1/1/19 12:52 AM,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,male
4,303,1/1/19 12:07 AM,1/1/19 12:12 AM,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,844,12/1/19 12:13 AM,12/1/19 12:27 AM,453,W 22 St & 8 Ave,40.744751,-73.999154,494,W 26 St & 8 Ave,40.747348,-73.997236,16397,Customer,1998,male
95,147,12/1/19 12:13 AM,12/1/19 12:15 AM,3373,3 St & 3 Ave,40.675071,-73.987752,3368,5 Ave & 3 St,40.672816,-73.983524,28714,Subscriber,1961,female
96,467,12/1/19 12:13 AM,12/1/19 12:21 AM,402,Broadway & E 22 St,40.740343,-73.989551,509,9 Ave & W 22 St,40.745497,-74.001971,38555,Subscriber,1987,female
97,1995,12/1/19 12:13 AM,12/1/19 12:47 AM,533,Broadway & W 38 St,40.752996,-73.987216,3499,2 Ave & E 122 St,40.800672,-73.934900,40335,Subscriber,1996,female
98,605,12/1/19 12:13 AM,12/1/19 12:24 AM,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,533,Broadway & W 38 St,40.752996,-73.987216,33867,Subscriber,1984,male

## Clean CSV data

In [7]:
# Clean the CSV DF Column headers
citibike_2019 = combined_df.rename(columns = {'tripduration':'Trip Duration', 'starttime':'Start Time', 
                                                'stoptime':'Stop Time','start station id':'Start Station ID',
                                                'start station name':'Start Station Name', 'start station latitude':'Start Station Latitude', 
                                                'start station longitude':'Start Station Longitude','end station id':'End Station ID',
                                                'end station name':'End Station Name','end station latitude':'End Station Latitude', 
                                                'end station longitude':'End Station Longitude','bikeid':'Bike ID','usertype':'User Type',
                                                'birth year':'Birth Year', 'gender': 'Gender'})
citibike_2019

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,320,1/1/19 12:01 AM,1/1/19 12:07 AM,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,male
1,316,1/1/19 12:04 AM,1/1/19 12:10 AM,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,male
2,591,1/1/19 12:06 AM,1/1/19 12:15 AM,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,male
3,2719,1/1/19 12:07 AM,1/1/19 12:52 AM,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,male
4,303,1/1/19 12:07 AM,1/1/19 12:12 AM,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,844,12/1/19 12:13 AM,12/1/19 12:27 AM,453,W 22 St & 8 Ave,40.744751,-73.999154,494,W 26 St & 8 Ave,40.747348,-73.997236,16397,Customer,1998,male
95,147,12/1/19 12:13 AM,12/1/19 12:15 AM,3373,3 St & 3 Ave,40.675071,-73.987752,3368,5 Ave & 3 St,40.672816,-73.983524,28714,Subscriber,1961,female
96,467,12/1/19 12:13 AM,12/1/19 12:21 AM,402,Broadway & E 22 St,40.740343,-73.989551,509,9 Ave & W 22 St,40.745497,-74.001971,38555,Subscriber,1987,female
97,1995,12/1/19 12:13 AM,12/1/19 12:47 AM,533,Broadway & W 38 St,40.752996,-73.987216,3499,2 Ave & E 122 St,40.800672,-73.934900,40335,Subscriber,1996,female
98,605,12/1/19 12:13 AM,12/1/19 12:24 AM,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,533,Broadway & W 38 St,40.752996,-73.987216,33867,Subscriber,1984,male

In [6]:
# Fix the date and time columns
citibike_2019['Start Date']=pd.to_datetime(citibike_2019['Start Time']).dt.strftime('%Y-%m-%d') #.date
citibike_2019['Start Time']=pd.to_datetime(citibike_2019['Start Time']).dt.strftime('%H:%M') #.dt.time
citibike_2019['Stop Date']=pd.to_datetime(citibike_2019['Stop Time']).dt.strftime('%Y-%m-%d') #.date
citibike_2019['Stop Time']=pd.to_datetime(citibike_2019['Stop Time']).dt.strftime('%H:%M') #.dt.time
citibike_2019

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Start Date,Stop Date
0,320,00:01,00:07,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,male,2019-01-01,2019-01-01
1,316,00:04,00:10,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,male,2019-01-01,2019-01-01
2,591,00:06,00:15,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,male,2019-01-01,2019-01-01
3,2719,00:07,00:52,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,male,2019-01-01,2019-01-01
4,303,00:07,00:12,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,male,2019-01-01,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,844,00:13,00:27,453,W 22 St & 8 Ave,40.744751,-73.999154,494,W 26 St & 8 Ave,40.747348,-73.997236,16397,Customer,1998,male,2019-12-01,2019-12-01
95,147,00:13,00:15,3373,3 St & 3 Ave,40.675071,-73.987752,3368,5 Ave & 3 St,40.672816,-73.983524,28714,Subscriber,1961,female,2019-12-01,2019-12-01
96,467,00:13,00:21,402,Broadway & E 22 St,40.740343,-73.989551,509,9 Ave & W 22 St,40.745497,-74.001971,38555,Subscriber,1987,female,2019-12-01,2019-12-01
97,1995,00:13,00:47,533,Broadway & W 38 St,40.752996,-73.987216,3499,2 Ave & E 122 St,40.800672,-73.934900,40335,Subscriber,1996,female,2019-12-01,2019-12-01
98,605,00:13,00:24,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,533,Broadway & W 38 St,40.752996,-73.987216,33867,Subscriber,1984,male,2019-12-01,2019-12-01

### Connect to local database

In [7]:
#rds_connection_string = "<postgres>:<postgres>@localhost:5432/citibike_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')
#engine = create_engine('postgresql://postgres:s1111111@localhost:5432/citibike_db')
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Tablueau_citibike')
connection = engine.connect()

### Check for tables

In [8]:
engine.table_names()

['citibike_2019_1']

### Use pandas to load csv converted DataFrame into database

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [9]:
col_combined_df.to_sql(name='citibike_2019_1', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Trip Duration" of relation "citibike_2019_1" does not exist
LINE 1: INSERT INTO citibike_2019_1 ("Trip Duration", "Start Time", ...
                                     ^

[SQL: INSERT INTO citibike_2019_1 ("Trip Duration", "Start Time", stoptime, "Start Station ID", "Start Station Name", "Start Station Latitude", "Start Station Longitude", "End Station ID", "End Station Name", "End Station Latitude", "End Station Longitude", "Bike ID", "User Type", "Birth Year", "Gender") VALUES (%(Trip Duration)s, %(Start Time)s, %(stoptime)s, %(Start Station ID)s, %(Start Station Name)s, %(Start Station Latitude)s, %(Start Station Longitude)s, %(End Station ID)s, %(End Station Name)s, %(End Station Latitude)s, %(End Station Longitude)s, %(Bike ID)s, %(User Type)s, %(Birth Year)s, %(Gender)s)]
[parameters: ({'Trip Duration': 320, 'Start Time': '01:47.4', 'stoptime': '07:07.6', 'Start Station ID': 3160, 'Start Station Name': 'Central Park West & W 76 St', 'Start Station Latitude': 40.77896784, 'Start Station Longitude': -73.97374737, 'End Station ID': 3283, 'End Station Name': 'W 89 St & Columbus Ave', 'End Station Latitude': 40.7882213, 'End Station Longitude': -73.97041561, 'Bike ID': 15839, 'User Type': 'Subscriber', 'Birth Year': 1971, 'Gender': 1}, {'Trip Duration': 316, 'Start Time': '04:43.7', 'stoptime': '10:00.6', 'Start Station ID': 519, 'Start Station Name': 'Pershing Square North', 'Start Station Latitude': 40.751872999999996, 'Start Station Longitude': -73.97770600000001, 'End Station ID': 518, 'End Station Name': 'E 39 St & 2 Ave', 'End Station Latitude': 40.74780373, 'End Station Longitude': -73.97344190000001, 'Bike ID': 32723, 'User Type': 'Subscriber', 'Birth Year': 1964, 'Gender': 1}, {'Trip Duration': 591, 'Start Time': '06:04.0', 'stoptime': '15:55.4', 'Start Station ID': 3171, 'Start Station Name': 'Amsterdam Ave & W 82 St', 'Start Station Latitude': 40.78524672, 'Start Station Longitude': -73.97667321, 'End Station ID': 3154, 'End Station Name': 'E 77 St & 3 Ave', 'End Station Latitude': 40.77314236, 'End Station Longitude': -73.95856158, 'Bike ID': 27451, 'User Type': 'Subscriber', 'Birth Year': 1987, 'Gender': 1}, {'Trip Duration': 2719, 'Start Time': '07:03.5', 'stoptime': '52:22.6', 'Start Station ID': 504, 'Start Station Name': '1 Ave & E 16 St', 'Start Station Latitude': 40.73221853, 'Start Station Longitude': -73.98165557, 'End Station ID': 3709, 'End Station Name': 'W 15 St & 6 Ave', 'End Station Latitude': 40.73804614, 'End Station Longitude': -73.99642959, 'Bike ID': 21579, 'User Type': 'Subscriber', 'Birth Year': 1990, 'Gender': 1}, {'Trip Duration': 303, 'Start Time': '07:35.9', 'stoptime': '12:39.5', 'Start Station ID': 229, 'Start Station Name': 'Great Jones St', 'Start Station Latitude': 40.72743423, 'Start Station Longitude': -73.99379025, 'End Station ID': 503, 'End Station Name': 'E 20 St & Park Ave', 'End Station Latitude': 40.73827428, 'End Station Longitude': -73.98751968, 'Bike ID': 35379, 'User Type': 'Subscriber', 'Birth Year': 1979, 'Gender': 1}, {'Trip Duration': 535, 'Start Time': '08:33.2', 'stoptime': '17:28.4', 'Start Station ID': 3630, 'Start Station Name': 'Frederick Douglass Blvd & W 115 St', 'Start Station Latitude': 40.8038654, 'Start Station Longitude': -73.95593079999999, 'End Station ID': 3529, 'End Station Name': 'Lenox Ave & W 130 St', 'End Station Latitude': 40.8107922, 'End Station Longitude': -73.9430681, 'Bike ID': 30315, 'User Type': 'Subscriber', 'Birth Year': 1989, 'Gender': 2}, {'Trip Duration': 280, 'Start Time': '09:21.0', 'stoptime': '14:01.2', 'Start Station ID': 3675, 'Start Station Name': '3 Ave & E 95 St', 'Start Station Latitude': 40.7845968, 'Start Station Longitude': -73.94968539, 'End Station ID': 3288, 'End Station Name': 'E 88 St & 1 Ave', 'End Station Latitude': 40.778301, 'End Station Longitude': -73.9488134, 'Bike ID': 35391, 'User Type': 'Subscriber', 'Birth Year': 1987, 'Gender': 1}, {'Trip Duration': 1547, 'Start Time': '11:22.9', 'stoptime': '37:10.1', 'Start Station ID': 285, 'Start Station Name': 'Broadway & E 14 St', 'Start Station Latitude': 40.73454567, 'Start Station Longitude': -73.99074142, 'End Station ID': 3358, 'End Station Name': 'Garfield Pl & 8 Ave', 'End Station Latitude': 40.671197799999995, 'End Station Longitude': -73.97484126, 'Bike ID': 35551, 'User Type': 'Subscriber', 'Birth Year': 1981, 'Gender': 1}  ... displaying 10 of 1188 total bound parameter sets ...  {'Trip Duration': 1995, 'Start Time': '13:44.1', 'stoptime': '46:59.7', 'Start Station ID': 533, 'Start Station Name': 'Broadway & W 38 St', 'Start Station Latitude': 40.75299641, 'Start Station Longitude': -73.98721619, 'End Station ID': 3499, 'End Station Name': '2 Ave & E 122 St', 'End Station Latitude': 40.8006721, 'End Station Longitude': -73.9349, 'Bike ID': 40335, 'User Type': 'Subscriber', 'Birth Year': 1996, 'Gender': 2}, {'Trip Duration': 605, 'Start Time': '13:55.4', 'stoptime': '24:01.3', 'Start Station ID': 3175, 'Start Station Name': 'W 70 St & Amsterdam Ave', 'Start Station Latitude': 40.77748046, 'Start Station Longitude': -73.98288594, 'End Station ID': 533, 'End Station Name': 'Broadway & W 38 St', 'End Station Latitude': 40.75299641, 'End Station Longitude': -73.98721619, 'Bike ID': 33867, 'User Type': 'Subscriber', 'Birth Year': 1984, 'Gender': 1})]
(Background on this error at: http://sqlalche.me/e/f405)

In [10]:
pd.read_sql_query('select * from citibike_2019_1', con=engine).head()

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start_station_id, start_station_name, start_station_latitude, start_station_longitude, end_station_id, end_station_name, end_station_latitude, end_station_longitude, bike_id, user_type, birth_year, gender]
Index: []